/*
 * Empty Stylesheet file.
 */

.mainFxmlClass {

}



/* buttonStyles.css */

.btn_login {
   -fx-background-color: #2196F3; /* Button background color */
    -fx-text-fill: white;          /* Button text color */
    -fx-font-size: 14px;           /* Button text size */
    -fx-font-weight: bold;         /* Button text weight */
    -fx-padding: 10;            /* Button padding */
    -fx-background-radius: 8px;    /* Rounded corners */
    -fx-background-insets: 0 0 0 0, 0 0 1 0; /* Elevated effect */
   
}

.btn_login:hover {
    -fx-background-color: #1565C0; /* Button background color on hover */
}

.btn_login:pressed {
    -fx-background-color: #0D47A1; /* Button background color when pressed */
}


.btn_creation {
    -fx-background-color: transparent;
    -fx-border-width: 0;
    -fx-text-fill: gray;
    -fx-border-color: transparent;
    -fx-background-insets: 0;
    -fx-background-radius: 0;
    -fx-padding: 0;
}

.btn_creation:hover {
    -fx-text-fill:  #1565C0;
}


.text-field-custom {
    -fx-background-color: transparent;
    -fx-border-color: #000099;
    -fx-border-width: 0.5;
    -fx-border-radius: 2; /* Set the radius according to your preference */
}

.text-field-custom:focused {
    -fx-border-color: orange;
    -fx-border-width: 2;
    -fx-border-radius: 4; 
}

