/*
 * Empty Stylesheet file.
 */

.mainFxmlClass {

}
.transparent-button {
    -fx-background-color: transparent;
    -fx-border-color: transparent;
    -fx-text-fill: transparent;
    -fx-border-color: transparent; /* Border color, adjust as needed */
    -fx-border-width: 2; /* Border width, adjust as needed */
    -fx-border-radius: 5; /* Border radius, adjust as needed */
}
.transparent-button:pressed {
    -fx-background-color: transparent;
    -fx-border-color: transparent;
    -fx-text-fill: transparent;
    -fx-border-color: transparent; /* Border color, adjust as needed */
    -fx-border-width: 3; /* Border width, adjust as needed */
    -fx-border-radius: 10; /* Border radius, adjust as needed */
}
.btn_login {
   -fx-background-color: #2196F3; /* Button background color */
    -fx-text-fill: white;          /* Button text color */
    -fx-font-size: 14px;           /* Button text size */
    -fx-font-weight: bold;         /* Button text weight */
    -fx-padding: 10;            /* Button padding */
    -fx-background-radius: 8px;    /* Rounded corners */
    -fx-background-insets: 0 0 0 0, 0 0 1 0; /* Elevated effect */
   
}

.btn_login:hover {
    -fx-background-color: #1565C0; /* Button background color on hover */
}

.btn_login:pressed {
    -fx-background-color: #0D47A1; /* Button background color when pressed */
}


#dest_combo {
    -fx-background-color: transparent;
    -fx-border-color: orange;
    -fx-border-width: 0.5; /* Adjust the border width as needed */
}
#dep_combo {
    -fx-background-color: transparent;
    -fx-border-color: orange;
    -fx-border-width: 0.5; /* Adjust the border width as needed */
    
}
.toggle-button {
    -fx-background-color: orange;
    
    -fx-font-weight: bold;         /* Button text weight */
    -fx-padding: 10;            /* Button padding */
    -fx-background-radius: 8px;    /* Rounded corners */
    -fx-background-insets: 0 0 0 0, 0 0 1 0; /* Elevated effect */
}

/* Style when selected */
.toggle-button:selected {
    -fx-background-color: #cccccc;
    
    
}
